/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (1) ***!
  \*********************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (2) ***!
  \*********************************************************************/
/* Css reset */
:root {
  --clr-primary: #006ba6;
  --clr-second: #ff6b6b;
  --clr-third: #008f6d;
  --clr-dark: #161636;
  --white: #fafaff;
  --black: #1c1d21;
  --fs-title: 1.65em;
  --fs-subtitle: 1.55em;
  --fs-text: 1.125em;
  --fw-x-bold: 700;
  --fw-bold: 600;
  --fw-norm: 400;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: Hubballi, sans-serif;
  font-size: var(--fs-text);
  background-color: var(--white);
  color: var(--black);
}

.comment-open body {
  background-color: var(--black);
  color: var(--white);
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background-image: url(b2c62b938d13c1e94559.jpg);
  background-position: top;
  background-size: cover;
  filter: blur(5px);
}

.list {
  list-style: none;
}

/* Header section */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  display: none;
}

.nav-toggle {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  background-color: var(--white);
  display: block;
  height: 3px;
  width: 2em;
}

.hamburger {
  position: relative;
}

.hamburger::after,
.hamburger::before {
  position: absolute;
  content: '';
}

.hamburger::before {
  top: 0.55em;
}

.hamburger::after {
  bottom: 0.55em;
}

.nav {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  font-size: var(--fs-text);
  font-weight: var(--fw-bold);
  padding: 0.25em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 200ms ease-out;
  text-decoration: none;
  color: inherit;
}

.nav-list-item:hover {
  color: var(--clr-second);
}

.nav-list-item + .nav-list-item {
  margin-left: 0.5em;
}

.search {
  display: flex;
  width: 250px;
  justify-content: flex-end;
}

.search-input {
  width: inherit;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.125);
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
  border: 2px solid #fff;
  border-radius: 1.25em;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: #bbb;
}

/* End Header section */

/* Main Section */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  width: 100%;
}

.movie-list {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: 1em;
}

.movie {
  background-color: var(--clr-dark);
  color: var(--white);
  border-radius: 0.75em;
  padding: 0.75em;
  filter: brightness(1.2);
  width: 80vw;
}

.movie-popup {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 80%;
  height: 75vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5em);
  border-radius: 0.75em;
  border: 2px solid #fff;
  position: relative;
  padding: 1em;
}

.main-popup-content {
  display: flex;
  column-gap: 2.5em;
  height: 100%;
}

.poster-div {
  border-radius: 0.75em;
  width: 100%;
  aspect-ratio: 25 / 37;
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  aspect-ratio: 25 / 37;
  object-fit: cover;
}

.poster-div:hover .movie-poster {
  width: 105%;
  transition: width 300ms ease-in-out;
}

.movie-title {
  font-size: var(--fs-subtitle);
  font-weight: var(--fw-bold);
  text-align: start;
}

.likes-data {
  color: #fff;
}

.type-year {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 0.25em;
}

.movie-type {
  text-transform: capitalize;
}

.movie-year {
  margin-left: 0.25em;
}

.movie-meta-info {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 0.65em;
  font-weight: 600;
}

.movie-meta-info + .movie-meta-info {
  margin-left: 0.5em;
}

.l-c-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0.5em 0;
}

.comment-btn,
.like-btn {
  background-color: var(--clr-second);
  color: var(--white);
  border-radius: 0.75em;
  padding: 0.5em;
  height: 2.5em;
  font-weight: 600;
  transition: background-color 150ms ease-out;
}

.comment-btn {
  margin-left: 0.75em;
}

.comment-btn:hover,
.like-btn:hover {
  background-color: hsl(0, 100%, 75%);
}

/* End Main Section */

/* Comment popup */
.movie-img {
  border-radius: 0.75em;
  overflow: hidden;
}

.m-poster {
  width: 320px;
  height: 100%;
  object-fit: cover;
}

.m-title-plot {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: flex-start;
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 2em;
}

.m-title-plot::-webkit-scrollbar {
  width: 5px;
  height: 80%;
}

.m-title-plot::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.569);
  border-radius: 5px;
}

.m-title-plot::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.m-title {
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

.m-plot {
  width: 100%;
  color: #e5e5e5;
}

.movie-comments {
  width: 100%;
}

.comments-subtitle {
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 0.5em;
  color: #fff;
}

.comments-list {
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.empty {
  color: #fff;
  font-size: 0.85em;
  font-style: italic;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.comment {
  font-size: 0.75em;
  width: 90%;
  color: #e0e0e0;
}

.comment + .comment {
  margin-top: 0.25em;
}

.movie-details {
  display: none;
}

.comment-open .movie-list {
  display: none;
}

.comment-open .movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-close-btn {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 1em;
  right: 1em;
}

.pop-close,
.pop-close::after {
  height: 3px;
  width: 1.5em;
  display: block;
  background-color: #fff;
}

.pop-close {
  position: relative;
  transform: rotate(45deg);
}

.pop-close::after {
  position: absolute;
  content: '';
  transform: rotate(90deg);
}

.m-type-year {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.m-type,
.m-year {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.input {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.65em;
  color: #444;
}

.input::placeholder {
  color: #888;
}

#name {
  width: 35%;
  border: none;
  padding: 0.5em 1em;
  min-height: 1em;
}

.input-list-item + .input-list-item {
  margin-top: 0.5em;
}

.comment-input {
  resize: none;
  width: 80%;
  min-height: 5em;
  border: none;
  padding: 0.75em 1em;
}

.input:focus {
  outline: 2px solid rgba(58, 96, 199, 0.761);
  outline-offset: 1px;
  transform: translateX(5px);
  transition: transform 200ms ease-out;
}

.comment-submit {
  background-color: var(--clr-second);
  color: var(--white);
  padding: 1em;
  font-weight: var(--fw-bold);
  border-radius: 0.5em;
}

.comment-submit:hover {
  background-color: hsl(0, 100%, 75%);
  transition: background-color 150ms ease-out;
}

/* End popup section */

/* Footer Section */

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em 2em;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.85em;
  position: fixed;
  z-index: 10;
  bottom: 0;
}

.comment-open .footer {
  display: none;
}

@media only screen and (min-width: 992px) {
  /* Css reset */
:root {
  --fs-title: 2em;
  --fs-subtitle: 1.35em;
  --fs-text: 1.125em;
}

  /* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 2em;
}

.logo {
  border: 1px var(--white) solid;
  border-radius: 50%;
  padding: 1.5em;
  width: 3em;
  height: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--white);
}

.logo-img {
  width: 72px;
  height: auto;
  object-fit: contain;
}

.nav-toggle {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 2em;
}
/* End Header section */

/* Main section */

.movie-list {
  display: grid;
  margin: 4em 0 3em;
  grid-template-columns: repeat(4, minmax(10em, 25%));
  gap: 1.5em;
  width: 85%;
}

.movie {
  background-color: var(--clr-dark);
  color: var(--white);
  border-radius: 0.75em;
  padding: 0.75em;
  filter: brightness(1.2);
  width: initial;
}

.movie-popup {
  margin: 4em auto 0;
}

/* End Main section */
}

