/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (1) ***!
  \*********************************************************************/
/* Css reset */
:root {
  --clr-primary: #191919;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: rgba(136, 136, 136, 0.9);
  font-family: Hubballi, sans-serif;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background-image: url(b2c62b938d13c1e94559.jpg);
  background-position: top;
  background-size: cover;
  filter: blur(5px);
}

.list {
  list-style: none;
}

/* Header section */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  width: 100%;
  height: 80px;
  box-shadow: 1px 2px 10px #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo {
  border: 1px #191919 solid;
  border-radius: 50%;
  padding: 1.5em;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 100px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item,
.home-link {
  font-size: 22px;
  font-weight: 600;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 1s ease;
  text-decoration: none;
  color: var(--clr-primary);
}

.nav-list-item:hover {
  color: #3e3e3e;
}

.nav-list-item + .nav-list-item {
  margin-left: 0.75em;
}

.search {
  display: flex;
  width: 200px;
  justify-content: flex-end;
}

.search-input {
  width: 200px;
  padding: 7px;
  background-color: rgba(62, 62, 62, 0.4);
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
}

/* End Header section */

/* Main Section */

#titre {
  color: skyblue;
  font-size: 10em;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.movie {
  background-color: rgba(0, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.movie-popup {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: 80%;
  height: 75vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5em);
  border-radius: 0.75em;
  border: 2px solid #fff;
  position: relative;
  padding: 1em;
}

.main-popup-content {
  display: flex;
  column-gap: 2.5em;
  height: 100%;
}

.movie-poster {
  height: 300px;
  width: 250px;
  border-radius: 10px;
}

.movie-title {
  font-size: 30px;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type-year {
  list-style: none;
  display: flex;
}

.movie-meta-info {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 0.65em;
  font-weight: 600;
}

.movie-meta-info + .movie-meta-info {
  margin-left: 0.5em;
}

.l-c-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.comment-btn,
.like-btn {
  background-color: rgba(62, 62, 62, 0.2);
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 2px 1px 10px #fff;
}

.comment-btn {
  padding: 10px;
  margin-left: 10px;
}

.like-btn {
  padding: 7px;
  color: #fff;
}

.comment-btn:active,
.like-btn:active {
  box-shadow: none;
}

/* End Main Section */

/* Comment popup */
.movie-img {
  border-radius: 0.75em;
  overflow: hidden;
}

.m-poster {
  width: 320px;
  height: 100%;
}

.m-title-plot {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: flex-start;
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 2em;
}

.m-title-plot::-webkit-scrollbar {
  width: 5px;
  height: 80%;
}

.m-title-plot::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.569);
  border-radius: 5px;
}

.m-title-plot::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.m-title {
  font-weight: 600;
  font-size: 2em;
  color: #fff;
}

.m-plot {
  width: 100%;
  color: #e5e5e5;
}

.movie-comments {
  width: 100%;
}

.comments-subtitle {
  font-weight: 600;
  font-size: 1.125em;
  margin-bottom: 0.5em;
  color: #fff;
}

.comments-list {
  line-height: 1.4;
}

.empty {
  color: #fff;
  font-size: 0.85em;
  font-style: italic;
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.comment {
  font-size: 0.75em;
  width: 90%;
  color: #e0e0e0;
  padding: 0.5em;
  margin: 0 0 0.5em;
}

.movie-details {
  display: none;
}

.comment-open .movie-list {
  display: none;
}

.comment-open .movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-close-btn {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 1em;
  right: 1em;
}

.pop-close,
.pop-close::after {
  height: 3px;
  width: 1.5em;
  display: block;
  background-color: #fff;
}

.pop-close {
  position: relative;
  transform: rotate(45deg);
}

.pop-close::after {
  position: absolute;
  content: '';
  transform: rotate(90deg);
}

.m-type-year {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.m-type,
.m-year {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

#name {
  width: 30%;
  border: none;
  padding: 0.5em 1em;
  min-height: 1em;
}

.input-list-item + .input-list-item {
  margin-top: 0.5em;
}

.comment-input {
  resize: none;
  width: 80%;
  min-height: 5em;
  border: none;
  padding: 0.75em 1em;
}

.input:focus {
  outline: 2px solid rgba(58, 96, 199, 0.761);
  outline-offset: 1px;
  transform: translateX(5px);
  transition: transform 200ms ease-out;
}

.comment-submit {
  background-color: rgba(58, 96, 199, 0.761);
  color: #fff;
  padding: 1em;
  font-weight: 600;
  border-radius: 0.5em;
}

/* End popup section */

/* Footer Section */

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
  width: 100%;
  border-top: 2px #191919 solid;
  position: relative;
  bottom: 0;
}

