/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Hubballi&display=swap);
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (1) ***!
  \*********************************************************************/
/* Css reset */
:root {
  --clr-primary: #191919;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: rgba(136, 136, 136, 0.9);
  font-family: Hubballi, sans-serif;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background-image: url(b2c62b938d13c1e94559.jpg);
  background-position: top;
  background-size: cover;
  filter: blur(5px);
}

/* Header section */

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
  width: 100%;
  border-bottom: 2px #191919 solid;
}

.logo {
  border: 3px #191919 solid;
  border-radius: 50%;
  padding: 1.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list-item + .nav-list-item {
  margin-left: 0.75em;
}

/* End Header section */

/* Main Section */

#titre {
  color: skyblue;
  font-size: 10em;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.movie {
  background-color: rgba(0, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.movie-poster {
  height: 300px;
  width: 250px;
  border-radius: 10px;
}

.movie-title {
  font-size: 30px;
  text-align: center;
  width: 200px;
  margin-top: 10px;
  height: 100px;
}

.type-year {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.movie-type,
.movie-year {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.l-c-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.comment-btn,
.like-btn {
  background-color: rgba(62, 62, 62, 0.2);
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 2px 1px 10px #fff;
}

.comment-btn {
  padding: 10px;
  margin-left: 10px;
}

.like-btn {
  padding: 7px;
  color: #fff;
}

.comment-btn:active,
.like-btn:active {
  box-shadow: none;
}

/* End Main Section */

/* this is the popup */
.m {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 50px;
  margin: 1px 100px;
}

.m-poster {
  height: 400px;
  width: 350px;
}

.m-title-plot {
  font-size: 25px;
}

.m-title {
  font-weight: 600;
  font-size: 30px;

  /* width: 500px; */
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin-top: 50px;
  margin-left: 50px;
}

.m-plot {
  width: 500px;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
}

/* Comment popup */
.movie-details {
  display: none;
}

.comment-open .movie-list {
  display: none;
}

.comment-open .movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-close-btn {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0.75em auto;
}

.pop-close,
.pop-close::after {
  height: 3px;
  width: 2em;
  display: block;
  background-color: #fff;
}

.pop-close {
  position: relative;
  transform: rotate(45deg);
}

.pop-close::after {
  position: absolute;
  content: '';
  transform: rotate(90deg);
}

.m-type-year {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.m-type,
.m-year {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

/* End popup section */

/* End Main Section */

/* Footer Section */

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 2em;
  margin-top: 1em;
  width: 100%;
  border-top: 2px #191919 solid;
  position: relative;
  bottom: 0;
}

