@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

.custom {
  color: skyblue;
  font-size: 10em;
  background: #191919;
}

body {
  background: rgba(136, 136, 136, 0.9);
  font-family: Hubballi, sans-serif;
}

.body {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10;
  background-image: url(./assets/img/bg.jpg);
  background-position: top;
  background-size: cover;
  -webkit-filter: blur(5px);
}

#titre {
  color: skyblue;
  font-size: 10em;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.movie {
  background-color: rgba(0, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.movie-poster {
  height: 300px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
}

.movie-title {
  font-size: 30px;
  text-align: center;
  width: 200px;
  margin-top: 10px;
  height: 100px;
}

.type-year {
  list-style: none;
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.movie-type,
.movie-year {
  background-color: rgba(62, 62, 62, 0.2);
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.m {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 50px;
  margin: 1px 100px;
}

.m-poster {
  height: 400px;
  width: 350px;
}

.m-title-plot {
  font-size: 25px;
}

.m-title {
  font-weight: 600;
  font-size: 30px;

  /* width: 500px; */
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  margin-top: 50px;
  margin-left: 50px;
}

.m-plot {
  width: 500px;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
}
